<form method="POST" action="/list/add">

    <div class="fullName">
        <input name="fullName" type="text">
    </div>

    <div class="email">
        <input name="email" type="text">
    </div>

    <button type="submit">Click here!</button>

</form>